

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tutorial Search</title>
</head>
<body>
    <h1> Tutorial </h1>
    <h2>Tutorial Search </h2>
    <main role="main" class="container">
        <div class = "maincontent">
            <form method = "POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class = "form-group">
                    <legend class="border-bottom mb-4">Search</legend>
                    <div class="form-group">
                        {{form.search.label(class="form-control-label")}}
                        {{ form.search(class="form-control form-control-lg") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    </main>
</body>
</html>