
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
            .div1 {
              width: 300px;
              height: 100px;
              border: 1px solid black;
              box-sizing: border-box;
            }
             a.navigation-link {
              padding: 0px 10px;
              word-wrap: normal;
              display: inline-block;
            }
    </style>
    <meta charset="UTF-8">
    <title>Tutorial Search</title>
</head>
<body>
    <p><a href="{{ url_for('home') }}">Home Page</a>    <a href="{{ url_for('tutorial') }}">Tutorial Page</a></p>
     {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
    {% endwith %}
    <h1> Workout Tutorials </h1>
    <p>Search for various types of Workouts</p>
    <p>Put in a workout you want to search from the list below</p>
    <h2>Tutorial Search </h2>
    <main role="main" class="container">
        <div class = "div1">
            <form method = "POST" action="">
                <legend class="border-bottom mb-4">Search:</legend>
                <p><input type="text" name ="nm" /></p>
                <p><input type="Submit" value="submit" /></p>
            </form>
        </div>
    </main>
    <h2>List of Current Workouts </h2>
    <ul>
        <li>Strength</li>
        <li>Cardiovascular</li>
        <li>Flexibility</li>
    </ul>
</body>
</html>