<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>User</title>

    <meta name="user_info" content="User information">

    <link href="../static/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <span>
                            <a href="{{ url_for('home') }}"><img src="../static/logo.png"
                                    alt="Fitness Tracker logo has dumbell icon inside head icon"></a>
                            &nbsp;&nbsp;
                            <a class="navbar-brand" href="{{ url_for('home') }}">Fitness Tracker</a>
                            <a href="{{ url_for('tutorial') }}">Tutorial Search</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{{ url_for('workout_select') }}">Create New
                                Workout</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {% if user.is_authenticated %}
                            <h5> {{"Welcome Back, " + user.username + "!"}}
                                <a class="btn btn-primary btn-large" href="{{ url_for('user_page') }}">Profile</a>
                                <a class="btn btn-primary btn-large" href="{{ url_for('log_out') }}">Log out</a>
                            </h5>
                            {% else %}
                            <a class="btn btn-primary btn-large" href="{{ url_for('login') }}">Log in</a>
                            <a class="btn btn-primary btn-large" href="{{ url_for('signup') }}">Sign Up</a>
                            {% endif %}
                        </span>
                    </nav>
                </div>
            </div>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %} {% endblock %}

    </body>

</html>