<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .div1 {
      width: 300px;
      height: 100px;
      border: 1px solid black;
      box-sizing: border-box;
    }

    a.navigation-link {
      padding: 0px 10px;
      word-wrap: normal;
      display: inline-block;
    }

    h1 {
      text-align: center;
    }
  </style>
  <meta charset="UTF-8">
  <title>Cardiovascular</title>
  <link href="static/favicon.ico" rel="icon" type="image/x-icon" />
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/style.css" rel="stylesheet">
</head>

<body>
	{% extends "base.html"%}

	{% block content %}
  <h1> Cardiovascular Tutorial Page </h1>
  <h3> Running </h3>
  <iframe width="703" height="395" src="https://www.youtube.com/embed/_kGESn8ArrU" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  <ol type="1">
    <li> Invest in the right pair of running shoes. </li>
    <li> Go for distance rather than time. </li>
    <li> Add walk breaks to your routine. </li>
  </ol>
  <h3> Jogging </h3>
  <iframe width="704" height="396" src="https://www.youtube.com/embed/gDrtnm91vbI" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  <ol type="1">
    <li> Invest in the right pair of running shoes. </li>
    <li> Start walking first, especially if out of shape. </li>
    <li> Adopt the right jogging form. </li>
  </ol>
  <h3> Jumping Jacks </h3>
  <iframe width="704" height="396" src="https://www.youtube.com/embed/1b98WrRrmUs" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  <ol type="1">
    <li> Stand upright with your legs together, arms at your sides. </li>
    <li> Bend your knees slightly, and jump into the air. </li>
    <li> As you jump, spread your legs to be about shoulder-width apart. Stretch your arms out and over your head. </li>
    <li> Jump back to starting position. </li>
    <li> Repeat. </li>
  </ol>
  <h3> Burpees </h3>
  <iframe width="704" height="396" src="https://www.youtube.com/embed/qLBImHhCXSw" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  <ol type="1">
    <li> Start in a squat position with your knees bent, back straight, and your feet about shoulder-width apart. </li>
    <li> Lower your hands to the floor in front of you so they're justi inside your feet. </li>
    <li> With your weight on your hands, kick your feet back so you're on your hands and toes, and in a pushup position.
    </li>
    <li> Keeping your body straight from head to heels, do one pushup. </li>
    <li> Do a frog kick by jumping your feet back to their starting position. </li>
    <li> Stand and reach your arms over your head. </li>
    <li> Jump quickly into the air so you land back where you started. </li>
    <li> As soon as you land with knees bent, get into a squat position and do another repetition. </li>
  </ol>
  <h3> Squat Jumps </h3>
  <iframe width="704" height="396" src="https://www.youtube.com/embed/A-cFYWvaHr0" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  <ol type="1">
    <li> Stand with your feet shoulder-width apart. </li>
    <li> Start by doing a regular squat, engage your core, and jump up explosively. </li>
    <li> When you land, lower your body back into the squat position to complete one rep. Make sure you land with your
      entire foot on the ground. Be sure to land as quietly as possible, which requires control. </li>
    <li> Repeat. </li>
  </ol>
  <h3> Jump Rope </h3>
  <iframe width="704" height="396" src="https://www.youtube.com/embed/u3zgHI8QnqE" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  <ol type="1">
    <li> Hold the rope while keeping your hands at hip level. </li>
    <li> Rotate your wrists to swing the rope and jump. </li>
    <li> Jump with both feet at the same time, one foot at a time, or alternating between feet. </li>
    <li> Repeat. </li>
  </ol>
  <h3> Elliptical </h3>
  <iframe width="704" height="396" src="https://www.youtube.com/embed/j38LNpTLwzY" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  <ol type="1">
    <li> Step onto the machine facing the console. </li>
    <li> To turn on the monitor, start pedaling by pushing the pedals in a forward motion with your feet. Push and pull
      on the handles evenly. </li>
    <li> Follow the instructions on the display to select one of the pre-set programs, or choose "manual" to set your
      own workout. </li>
    <li> Increase or decrease the pedaling resistance during your workout by hitting the up and down arrows. </li>
    <li> Before stepping off of the elliptical, make sure that it has fully stopped. </li>
  </ol>
  <h3> Stair Climber </h3>
  <iframe width="704" height="396" src="https://www.youtube.com/embed/xSB39wbMz4w" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  <ol type="1">
    <li> Keep your feet flat and avoid coming up on to your tiptoes too much. </li>
    <li> Your knees should stay over your mid foot and never travel beyond the end of your feet. </li>
    <li> Keep your body upright and don’t slouch over the console. </li>
    <li> Keep your pace roughly steady. </li>
  </ol>
  <h3> Swimming (Freestyle) </h3>
  <iframe width="704" height="396" src="https://www.youtube.com/embed/AQy_c30lNjI" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  <ol type="1">
    <li> Float with your face in the water, your body straight and horizontal. Stack your hands and keep your arms and
      legs long. </li>
    <li> To do the flutter kick, move one foot up and one foot down. Alternate quickly, keeping your ankles loose and
      knees slightly bent. </li>
    <li> Reach your right hand 12 to 18 inches ahead, palm facing down and in line with your shoulder. </li>
    <li> Pull your right hand down and back, pointing your fingers diagonally toward the bottom. Point your elbow
      upward. </li>
    <li> As your right hand passes your thigh, rotate your hip and shoulder upward. Bring your hand up and across the
      water. </li>
    <li> Enter your right hand in the water and repeat with your left hand. </li>
    <li> Breathe every two or three strocks as your hand exits the water. </li>
  </ol>
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/scripts.js"></script>
	{% endblock %}
</body>

</html>