<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .div1 {
            width: 300px;
            height: 100px;
            border: 1px solid black;
            box-sizing: border-box;
        }

        a.navigation-link {
            padding: 0px 10px;
            word-wrap: normal;
            display: inline-block;
        }

        h1 {
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <title>Strength</title>
    <link href="static/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
</head>

<body>
	{% extends "base.html"%}

	{% block content %}
    <h1> Strength Tutorial Page </h1>

    <h3> Squats </h3>
    <iframe width="706" height="397" src="https://www.youtube.com/embed/otzWCWpuW-A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ol type="1">
        <li> Stand straight with feet hip-width apart. </li>
        <li> Tighten your stomach muscles. </li>
        <li> Lower down, as if sitting in an invisible chair. </li>
        <li> Straighten your legs to lift back up. </li>
        <li> Repeat. </li>
    </ol>
    <h3> Deadlifts </h3>
    <iframe width="704" height="396" src="https://www.youtube.com/embed/vRKDvt695pg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ol type="1">
        <li> Stand with your mid-foot under the barbell. </li>
        <li> Bend over and grab the bar with a shoulder-width grip. </li>
        <li> Bend your knees until your shins touch the bar. </li>
        <li> Lift your chest up and straighten your lower back. </li>
        <li> Take a big breath, hold it, and stand up with the weight. </li>
    </ol>
    <h3> Bench Press </h3>
    <iframe width="704" height="396" src="https://www.youtube.com/embed/gRVjAtPip0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ol type="1">
        <li> Lie on the bench with your eyes under the bar. </li>
        <li> Grab the bar with a medium grip-width, with thumbs around the bar. </li>
        <li> Unrack the bark by straightening your arms. </li>
        <li> Lower the bar to your mid-chest. </li>
        <li> Press the bar back up until your arms are straight. </li>
    </ol>
    <h3> Overhead Press </h3>
    <iframe width="704" height="396" src="https://www.youtube.com/embed/F3QY5vMz_6I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ol type="1">
        <li> Stand with the bar on your front shoulders, and your hands next to your shoulders. </li>
        <li> Press the bar over your head, until it’s balanced over your shoulders and mid-foot. </li>
        <li> Lock your elbows at the top, and shrug your shoulders to the ceiling. </li>
    </ol>
    <h3> Facepulls </h3>
    <iframe width="704" height="396" src="https://www.youtube.com/embed/V8dZ3pyiCBo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ol type="1">
        <li> Grab the ends of the rope attachment with your thumbs pointing backwards. </li>
        <li> Keep your elbows down below your shoulder. You don’t want to raise them to the level of your shoulder.
        </li>
        <li> Turn the hands slightly and pull. </li>
        <li> Release slowly to starting position and Repeat. </li>
    </ol>
    <h3> Pull-Ups </h3>
    <iframe width="704" height="396" src="https://www.youtube.com/embed/Fbqy2t8eWa8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ol type="1">
        <li> Grab a bar with a grip slightly wider than shoulder-width, with your hands facing away from you. </li>
        <li> Hang all the way down. </li>
        <li> Pull yourself up until your chin is above the bar. </li>
        <li> Slight pause. </li>
        <li> Lower yourself all the way back down, then Repeat. </li>
    </ol>
    <h3> Tricep Pushdowns </h3>
    <iframe width="704" height="396" src="https://www.youtube.com/embed/8WL0m0vLAPo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ol type="1">
        <li> Start by bracing your abdominals. </li>
        <li> Tuck your elbows in at your sides and position your feet slightly apart. </li>
        <li> Inhale. Push down until your elbows are fully extended but not yet in the straight, locked position. Keep
            your elbows close to your body and bend your knees slightly on the pushdown. Resist bending forward. Try to
            keep your back as straight as possible as you push down. </li>
        <li> As you exhale, return to the starting point using a controlled movement. Try not to crash the weights.
        </li>
        <li> Repeat. </li>
    </ol>
    <h3> Dumbbell Curls </h3>
    <iframe width="704" height="396" src="https://www.youtube.com/embed/Nkl8WnH6tDU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ol type="1">
        <li> Start standing with a dumbbell in each hand. Your elbows should rest at your sides and your forearms should
            extend out in front of your body. Your knees should stay slightly bent and your belly button should draw
            into the spine. </li>
        <li> Bring the dumbbells all the way up to your shoulders by bending your elbows. Once at the top, hold for a
            second by squeezing the muscle. </li>
        <li> Reverse the curl slowly and Repeat. </li>
    </ol>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/scripts.js"></script>
	{% endblock %}
</body>

</html>