<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .div1 {
      width: 300px;
      height: 100px;
      border: 1px solid black;
      box-sizing: border-box;
    }

    a.navigation-link {
      padding: 0px 10px;
      word-wrap: normal;
      display: inline-block;
    }

    h1 {
      text-align: center;
    }
  </style>
  <meta charset="UTF-8">
  <title>Cardiovascular</title>
  <link href="static/favicon.ico" rel="icon" type="image/x-icon" />
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/style.css" rel="stylesheet">
</head>

<body>
  {% extends "base.html"%}

	{% block content %}
  <h1> Weight Loss Tutorial Page </h1>
  <h3> Jogging </h3>
  <iframe width="704" height="396" src="https://www.youtube.com/embed/gDrtnm91vbI" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  <ol type="1">
    <li> Invest in the right pair of running shoes. </li>
    <li> Start walking first, especially if out of shape. </li>
    <li> Adopt the right jogging form. </li>
    <li> Jogging has been found to reduce belly fat </li>
    <li> You can also invest in a Treadmill to make it easier in terms of weather and your joints </li>
  </ol>
  <h3> Cycling </h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/4ssLDk1eX9w" title="YouTube video player"
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
          gyroscope; picture-in-picture" allowfullscreen></iframe>
  <ol type="1">
    <li> Invest in a proper bike for your height. Adjust the seat for your height </li>
    <li>  Adopt a good cycling form</li>
    <li> Cycling burns about 260 calories every 30 min </li>
  </ol>
  <h3> Swimming (Freestyle) </h3>
  <iframe width="704" height="396" src="https://www.youtube.com/embed/AQy_c30lNjI" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  <ol type="1">
    <li> Float with your face in the water, your body straight and horizontal. Stack your hands and keep your arms and
      legs long. </li>
    <li> To do the flutter kick, move one foot up and one foot down. Alternate quickly, keeping your ankles loose and
      knees slightly bent. </li>
    <li> Reach your right hand 12 to 18 inches ahead, palm facing down and in line with your shoulder. </li>
    <li> Pull your right hand down and back, pointing your fingers diagonally toward the bottom. Point your elbow
      upward. </li>
    <li> As your right hand passes your thigh, rotate your hip and shoulder upward. Bring your hand up and across the
      water. </li>
    <li> Enter your right hand in the water and repeat with your left hand. </li>
    <li> Breathe every two or three strokes as your hand exits the water. </li>
    <li> Swimming burns about 149 calories every 30 min </li>
  </ol>
  <h3> Strength Training </h3>
  <ol type="1">
      <li> Strength Training is a great way to lose weight </li>
      <li> Weight Training reduces about 125 calories every 30 min</li>
      <li> More about specific Strength Training can be looked at our <a href="{{ url_for('strength') }}">Strength</a> Section </li>
  </ol>
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/scripts.js"></script>
    {% endblock %}
</body>

</html>
