<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fitness Tracker</title>

    <meta name="description" content="Homepage for Fitness Tracker app">

    <link href="../static/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <span>
                        <a href="{{ url_for('home') }}"><img src="../static/logo.png"
                                alt="Fitness Tracker logo has dumbell icon inside head icon"></a>
                        <span>&nbsp;&nbsp;</span>
                        <a class="navbar-brand" href="{{ url_for('home') }}">Fitness Tracker</a>
                        <a href="{{ url_for('tutorial') }}">Tutorial Search</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </nav>

            </div>
        </div>
    </br></br></br></br></br>

        <h2 style="text-align: center;">Choose a workout type:</h2>

        <div class="row">
            <div class="col-md-12" style="display: flex;
            justify-content: center;
            align-items: center;">
            <span>
                <!-- Link to  workout creators.-->
                <a class="btn btn-primary btn-large" href="{{ url_for('strength_data') }}" style="display: inline-block; margin: auto;">Create Strength
                    Workout</a>
                <a class="btn btn-primary btn-large" href="{{ url_for('cardio_data') }}" style="display: inline-block; margin: auto;">Create Cardio
                    Workout</a>
                <a class="btn btn-primary btn-large" href="{{ url_for('flex_data') }}" style="display: inline-block; margin: auto;">Create Flexibility
                    Workout</a>
                <!-- END LINK -->
            </span>
            </div>
        </div>
    </div>
</body>